{% extends 'base.html' %}

{% block content %}
<div class="main">
    <form action="{% url 'add_task' %}" method="post">

        {% csrf_token %}
        <h2>ADD A TASK</h2>
        <input type="text" name="title" id="" placeholder="">
        <button><b>ADD </b> </button>
    </form>
        
    <div class="sub">
        {% for task in task %}
            <div class="dub">
                {%if task.completed %}
                <p><strike>{{task}}</strike><button><a class="m-3" href="{%url 'delete_task' task.id %}">Delete</a> </button>
                            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <a class="m-3" href="{% url 'update_task' task.id  %}">Update</a>
                            </button>
                </p>
                {%else %}
                <p>{{task}}<button><a class="m-3" href="{%url 'delete_task' task.id %}">Delete</a> </button>
                    <button data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <a class="m-3" href="{% url 'update_task' task.id  %}">Update</a>
                    </button>
                </p>
                {% endif%} 
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}